@use '../abstracts' as *;

.intro {
  background-color: $color-primary;
  min-height: 41.25rem;
  text-align: center;
  padding: 12.5rem 0;

  display: flex;
  align-items: center;

  &__title {
    color: $color-secondary;
    line-height: 1.1;
  }
  &__text {
    text-transform: uppercase;
    margin: 0 0 0 0.25rem;
    letter-spacing: 5px;
    font-weight: 300;
    font-size: $fs-small;
  }
}
