// Colors
$color-primary: #f3eed9;
$color-secondary: #824936;
$color-dark: #222c2a;
$color-white: #fff;

// Typefaces
$ff-body: "Roboto", sans-serif;
$ff-headlines: "Playfair Display", serif;

// Font Sized
$fs-small: 1.125rem;
$fs-medium: 1.3125rem;
$fs-large: 2.25rem;
$fs-black-1: 3.75rem;
$fs-black-2: 3rem;
